@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: 'idroid';
    src: url('idroid.otf')
}

:root {
    --verde-claro: #1EEA00;
    --verde-escuro: #355231;
    --verde-preto: #2A3329;
    --verde-claro-mais-escuro: #38B825;

    --fonte-texto: Arial, Helvetica, sans-serif;
    --fonte-h1-h2: 'idroid''sans-serif';
}

body {
    font-family: var(--fonte-texto);
    background-color: #22ff0060;
}

header {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    background-image: linear-gradient(to bottom, #38B825, #2A3329);
    height: 260px;
    color: white;
    padding-top: 20px;

}
header > p {
    padding: 15px;
}
h1 {
    margin: 10px;
}
nav {
    text-align: left;
    padding: 10px;
    margin: 20px 5px 0px 5px;
    min-width: 280px;
    max-width: 800px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 6px;
    font-weight: normal;
}

nav a:hover {
    color: rgba(255, 255, 0, 0.514);
    background-color: #39b8255b;
    border-radius: 5px;
    transition-duration: 0.5s;
    padding: 10px;
}

 nav a:visited {
    color: rgba(255, 0, 0, 0.397);
}

main {
    background-color: white;
    margin: auto;
    min-width: 280px;
    max-width: 800px;
    padding: 15px;
}

h1#principal {
    font-family: 'idroid', 'sans-serif';
    color: var(--verde-escuro);
}

h2 {
    font-family: 'idroid', 'sans-serif';
    color: var(--verde-escuro);
    background-image: linear-gradient(to right, #1fea0079, transparent);
    margin: 10px 0px 10px 0px;
}

h3 {
    font-family: var(--fonte-texto);
    font-weight: normal;
    background-color: #148003;
    color: white;
    border-radius: 5px 5px 0px 0px;
    padding: 2px 2px 2px 5px;
    
}

main p {
    margin: 10px;
    text-align: justify;
    text-indent: 15px;
}

img {
    width: 100%;
}

img.bugdroid {
    width: 50%;
    margin: auto;
    display: block;
}

aside {
    background-color: #1fea004f;
    border-radius: 10px;
    padding: 10px;

}
aside > ul {
    list-style-type: '\2714\00A0';
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 0.8em;
}

p > a {
    color: #148003;
    text-decoration: none;
}

p > a::after {
    content: '\00A0\1F517';
}